<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
<!--            <li>
                <a href="index.html">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i> <span>Academic</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="treeview"><a href="#"><i class="fa fa-clone"></i><span>Class Section</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="components/class/class.html"><i class="fa fa-circle-o"> Classes</i></a></li>
                            <li><a href="components/classTeacherAllocation/classTeacherAllocation.html"><i class="fa fa-circle-o"> Teacher Allocation</i></a></li>
                            <li><a href="components/section/section.html"><i class="fa fa-circle-o"> Section</i></a></li>
                        </ul>
                    </li>
                    <li><a href="components/lessonPlanning/lessonPlanning.html"><i class="fa fa-edit"></i><span>Lession Planning</span></a></li>
                    <li class="treeview"><a href="#"><i class="fa fa-file-archive-o"></i><span>Subjects</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="components/subjects/subjects.html"><i class="fa fa-circle-o"> Subjects</i></a></li>
                            <li><a href="components/assignSubjects/assignSubjects.html"><i class="fa fa-circle-o"> Assign Subjects</i></a></li>
                            <li><a href="components/subjectAllocation/subjectAllocation.html"><i class="fa fa-circle-o"> Subject Allocation</i></a></li>
                            <li><a href="components/electiveSubjectAllocation/electiveSubjectAllocation.html"><i class="fa fa-circle-o"> Elective Subject Allocation</i></a></li>
                        </ul>
                    </li>
                    <li class="treeview"><a href="#"><i class="fa fa-calendar-minus-o"></i><span>Time Table</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="components/setTimeTable/setTimeTable.html"><i class="fa fa-circle-o"> Set Time Table</i></a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-calculator"></i> <span>Accounting</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="components/createStudentPayment/createStudentPayment.html"><i class="fa fa-circle-o"> Create Student Payment</i></a></li>
                    <li><a href="components/studentPayments/studentPayments.html"><i class="fa fa-circle-o"> Student Payments</i></a></li>
                    <li><a href="components/expense/expense.html"><i class="fa fa-circle-o"> Expense</i></a></li>
                    <li><a href="components/expenseCategory/expenseCategory.html"><i class="fa fa-circle-o"> Expense Category</i></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-hand-paper-o"></i> <span>Attendance</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="components/dailyAttendance/dailyAttendance.html"><i class="fa fa-circle-o"> Daily Attendance</i></a></li>
                    <li><a href="components/attendanceReport/attendanceReport.html"><i class="fa fa-circle-o"> Attendance Report</i></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-home"></i> <span>Hostel</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="components/hostelRegister/hostelRegister.html"><i class="fa fa-circle-o"> Register</i></a></li>
                    <li><a href="components/hostelAllocation/hostelAllocation.html"><i class="fa fa-circle-o"> Allocation</i></a></li>
                    <li><a href="components/hostelRoom/hostelRoom.html"><i class="fa fa-circle-o"> Rooms</i></a></li>
                    <li><a href="components/roomAvailabilityReport/roomAvailabilityReport.html"><i class="fa fa-circle-o"> Rooms Availability Report</i></a></li>
                    <li><a href="components/roomOccupiedReport/roomOccupiedReport.html"><i class="fa fa-circle-o"> Rooms Occupied Report</i></a></li>
                    <li><a href="components/hostelTransferOrVacate/hostelTransferOrVacate.html"><i class="fa fa-circle-o"> Transfer or Vacate</i></a></li>
                    <li><a href="components/hostelFeeReport/hostelFeeReport.html"><i class="fa fa-circle-o"> Fee Report</i></a></li>
                    <li><a href="components/hostelFeeCollection/hostelFeeCollection.html"><i class="fa fa-circle-o"> Fee Collection</i></a></li>
                    <li><a href="components/hostelDetails/hostelDetails.html"><i class="fa fa-circle-o"> Details</i></a></li>
                    <li><a href="components/hostelDetailsReport/hostelDetailsReport.html"><i class="fa fa-circle-o"> Details Report</i></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa  fa-book"></i> <span>Library</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="components/addCategory/addCategory.html"><i class="fa fa-circle-o"> Add Category</i></a></li>
                    <li><a href="#/addBooks"><i class="fa fa-circle-o"> Add Books</i></a></li>
                    <li><a href="components/booksList/booksList.html"><i class="fa fa-circle-o"> Books List</i></a></li>
                    <li><a href="components/issueBook/issueBook.html"><i class="fa fa-circle-o"> Issue Book</i></a></li>
                    <li><a href="components/bookReturn/bookReturn.html"><i class="fa fa-circle-o"> Book Return</i></a></li>
                    <li><a href="components/issuedList/issuedList.html"><i class="fa fa-circle-o"> Issued List</i></a></li>
                    <li><a href="components/report/report.html"><i class="fa fa-circle-o"> Report</i></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa  fa-envelope-o"></i> <span>Mailbox</span> <i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="components/bulkSms/bulkSms.html"><i class="fa fa-circle-o"> Bulksms</i></a></li>
                    <li><a href="components/compose/compose.html"><i class="fa fa-circle-o"> Compose</i></a></li>
                    <li><a href="components/mailbox/mailbox.html"><i class="fa fa-circle-o"> Mailbox</i></a></li>
                    <li><a href="components/readMail/readMail.html"><i class="fa fa-circle-o"> Readmail</i></a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa  fa-inr"></i> <span>Payroll</span> <i class="fa fa-angle-left pull-right"></i>          </a>
                <ul class="treeview-menu">
                    <li class="treeview"><a href="#"><i class="fa fa-users"></i><span>Employee Management</span><i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="components/addEmployee/addEmployee.html"><i class="fa fa-circle-o"> Add Employee</i></a></li>
                            <li><a href="components/addTypes/addTypes.html"><i class="fa fa-circle-o"> Add Types</i></a></li>
                            <li><a href="components/employeeList/employeeList.html"><i class="fa fa-circle-o"> Employee List</i></a></li>
                            <li><a href="#/addBankDetails"><i class="fa fa-circle-o"> Add Bank Details</i></a></li>
                        </ul>
                </ul>
                </li>
                <li class="treeview"><a href="#"><i class="fa fa-location-arrow"></i><span>Leave Management</span><i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="components/leaveApplication/leaveApplication.html"><i class="fa fa-circle-o"> Leave Application</i></a></li>
                        <li><a href="components/leaveApproval/leaveApproval.html"><i class="fa fa-circle-o"> Leave Approval</i></a></li>
                        <li><a href="components/leaveDetails/leaveDetails.html"><i class="fa fa-circle-o"> Leave Details</i></a></li>
                        <li><a href="components/leaveType/leaveType.html"><i class="fa fa-circle-o"> Leave Types</i></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-folder-open"></i> <span>Report</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="components/schoolFeeReport/schoolFeeReport.html"><i class="fa fa-circle-o"> Fee Report</i></a></li>
                        <li><a href="components/studentReport/studentReport.html"><i class="fa fa-circle-o"> Student Report</i></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa  fa-gears"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="components/institutionDetails/institutionDetails.html"><i class="fa fa-circle-o"> Institution Details</i></a></li>
                        <li><a href="components/users/users.html"><i class="fa fa-circle-o"> Users</i></a></li>
                        <li><a href="components/enquiryList/enquiryList.html"><i class="fa fa-circle-o"> Enquiry List</i></a></li>
                        <li><a href="components/studentReport/studentReport.html"><i class="fa fa-circle-o"> Student Report</i></a></li>
                        <li><a href="components/employeeImport/employeeImport.html"><i class="fa fa-circle-o"> Import Employee Details</i></a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-hourglass-2"></i> <span>Store Management</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="components/addInventoryItem/addInventoryItem.html"><i class="fa fa-circle-o"> Add Inventory Item</i></a></li>
                        <li><a href="components/inventoryCategory/inventoryCategory.html"><i class="fa fa-circle-o"> Inventory Category</i></a></li>
                        <li><a href="components/inventoryItem/inventoryItem.html"><i class="fa fa-circle-o"> Inventory Item</i></a></li>
                        <li><a href="components/issuedReport/issuedReport.html"><i class="fa fa-circle-o"> Issued Report</i></a></li>
                        <li><a href="components/purchaseOrder/purchaseOrder.html"><i class="fa fa-circle-o"> Purchase Order</i></a></li>
                        <li><a href="components/stockIssueDetails/stockIssueDetails.html"><i class="fa fa-circle-o"> Stock Issue details</i></a></li>
                        <li><a href="components/stockRegister/stockRegister.html"><i class="fa fa-circle-o"> Stock Register</i></a></li>
                        <li><a href="components/vendors/vendors.html"><i class="fa fa-circle-o"> Vendors</i></a></li>
                    </ul>
-->                </li>
            
                <li class="treeview">
                    <a href="#"><i class="fa fa-child"></i> <span>Student</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#/studentAdmission"><i class="fa fa-circle-o"> Student Admission</i></a></li>
                        <li><a href="#/studentAttendance"><i class="fa fa-circle-o"> Student Attendance</i></a></li>
                        <li><a href="#/studentCategory"><i class="fa fa-circle-o"> Student Category</i></a></li>
                        <li><a href="#/studentList"><i class="fa fa-circle-o"> Student List</i></a></li>
                    </ul>
                </li>
				<li class="treeview">
                    <a href="#"><i class="fa  fa-user-plus"></i> <span>Teacher</span> <i class="fa fa-angle-left pull-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a href="#/teacher"><i class="fa fa-circle-o"> Teacher</i></a></li>
                    </ul>
               </li> 
		   </ul>
    </section>
</aside>
